@RenderSection("sachbannhieu", required: false)
@section SachBanNhieu{
    @Html.Action("SachBanNhieuPartial", "SachOnline")
    }

class="container">
<h2 class="text-center">SÁCH BÁN NHIỀU</h2>
<div class="row">
    <!-- Sản phẩm 1, 2, 3 -->
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/TH004.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 1</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/TH005.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 2</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/TH006.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 3</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/TH007.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 4</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>
    <b></b>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/TH008.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 5</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="media-object-default">
            <div class="media">
                <div class="media-left">
                    <a href="#"><img class="media-object imgsachbannhieu" src="~/image/THCB.jpg" alt="placeholder image"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tên sản phẩm 6</h4>
                    Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,Mô tả chi tiết sản phẩm,...
                </div>
            </div>
            <!-- Sản phẩm 2 và 3 tương tự -->
        </div>
    </div>

    <!-- Sản phẩm 4, 5, 6 -->
