
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<img scr="~/Images/sach01.jpg" />
<h2 class="texthead">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach01.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">
            <div class="caption">
                <h3>Giáo trình kỹ thuật lập trình C</h3>
                <p>Quyển sách này được khởi nguồn từ blog “Coding Horror” của Jeff Atwood và được dịch giả Hồ Sỹ Hùng biên soạn lại.</p>
                <p><a href="#" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach02.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            <div class="caption">
                <h3>Ngôn ngữ lập trình C và C++</h3>
                <p>Ưu điểm của sách dạy lập là giới thiệu tỉ mỉ từng khái niệm,người đọc có thể dễ hình dung, dễ hiểu các khái niệm trừu tượng.</p>
                <p><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/sach03.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            <div class="caption">
                <h3>Lập trình Java căn bản</h3>
                <p>“Code Dạo Kí Sự” bao gồm những chia sẻ kinh nghiệm về việc học lập trình và quá trình làm việc với tư cách là một Developer Full Stack.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach04.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            <div class="caption">
                <h3>Lập trình tư duy</h3>
                <p>Cuốn sách dạy lập trình này được nhiều sinh viên IT lựa chọn tham khảo,của những giảng viên, lập trình viên có thâm niên trong nghề.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/sach05.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">

            <div class="caption">
                <h3>Code Complete</h3>
                <p>Nội dung chính của cuốn sách “Giáo Trình C++ Và Lập Trình Hướng Đối Tượng” này chính là các khái niệm của OOP (lập trình hướng đối tượng)</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/sach06.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook">
            <div class="caption">
                <h3>Cuộc sống IT</h3>
                <p>Một phần của cuốn sách dạy lập trình này được lấy từ cuốn “Ngôn ngữ lập trình C” được biên soạn bởi 2 tác giả – B. W. Kernighan và Dennis Ritchie.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a> </p>
            </div>
        </div>
    </div>
</div>
<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria- hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
